.feed {
  white-space: pre-line;
  margin: 10px;
  background-color: white;
  width: 200px;
  height: 280px;
  margin-bottom: 70px;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
  color: #111;
  display: flex;
  text-decoration: none;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.feed_div {
  min-width:180px;
  min-height:100px;
}
  
  .feed_img {
    top: -50px;
    min-width: 180px;
    min-height: 100px;
    max-width: 180px;
    max-height: 90px;
    /* width: 100%; */
    object-fit: contain;
    height: auto;
  
  }

  .feed_box {
    display: flex;
    align-items: center;
  }

  .feed_writer {
      color: gray;
      text-align:left;
      font-size: 3px;
      margin-bottom: 0;
  }
  
  .feed_title {
    margin: 0;
    font-weight: 100;
    text-decoration: none;
    font-size: 3px;
    color: #2c2c2c;
    text-decoration: none;
  }

  .feed_content {
      margin: 0;
      font-weight: 100;
      text-decoration: none;
      margin-bottom: 5px;
      font-size: 16px;
      color: #2c2c2c;
      text-decoration: none;
    }

  .likeY {
    color: red;
  }

  .show {
    margin: 10px;
    background-color: white;
    width: 200px;
    height: 280px;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #111;
    display: flex;
    text-decoration: none;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
    
.show_img {
      top: -50px;
      max-width: 160px;
      width: 100%;
      margin-right: 30px;
}
  
.show_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.show_writer {
        color: gray;
        font-size: 6px;
        margin-bottom: 0;
}
    
.show_title {
      margin: 0;
      font-weight: 100;
      text-decoration: none;
      margin-bottom: 5px;
      font-size: 16px;
      color: #2c2c2c;
      text-decoration: none;
}

.show_content {
        margin: 0;
        font-weight: 100;
        text-decoration: none;
        margin-bottom: 5px;
        font-size: 16px;
        color: #2c2c2c;
        text-decoration: none;
}

.cardImg {
  min-width: 496px;
  height: 468px;
  
  object-fit: contain;
  
}

.modal {
  
  
}